# 티셔츠 사이즈별로 수량 세기

In [1]:
def solution(list):
    sizes = [0 for _ in range(6)]
    
    for size in list:
        if size == 'XS':
            sizes[0] += 1
        elif size == 'S':
            sizes[1] += 1
        elif size == 'M':
            sizes[2] += 1
        elif size == 'L':
            sizes[3] += 1
        elif size == 'XL':
            sizes[4] += 1
        elif size == 'XXL':
            sizes[5] += 1
            
    return sizes

In [2]:
ordered = ['XL', 'L', 'S', 'S', 'S', 'XXL']
solution(ordered)

[0, 3, 0, 1, 1, 1]

# 할인율 적용하기

In [3]:
def solution(price, grade):
    if grade == 'S':
        result = price * 0.95
    elif grade == 'G':
        result = price * 0.90
    elif grade == 'V':
        result = price * 0.85
    return int(result)

In [5]:
print(solution(10000, 'S'))
print(solution(10000, 'G'))
print(solution(10000, 'V'))

9500
9000
8500

# 두 날짜 사이 일 수 계산하기

In [15]:
def func_a(m, d):
    
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = 0
    for i in range(m-1):
        total += days[i]
    total += d-1
    
    return total

def solution(st_m, st_d, en_m, en_d):
    start = func_a(st_m, st_d)
    end = func_a(en_m, en_d)
    total = end - start
    
    return total

In [16]:
solution(1, 5, 1, 10)

5

다시

In [12]:
def func(m, d):
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    
    total = 0
    for i in range(m-1):
        total += days[i]
    total += d -1
    
    return total

def solution(s1, s2, e1, e2):
    start = func(s1, s2)
    end = func(e1, e2)
    total = end - start
    return total

In [17]:
solution(1, 6, 1, 10)

4

# 최대 빈출 숫자의 빈도를 최소 빈출 숫자의 빈도로 나누기

In [20]:
def get_count(list):
    cnt = [0 for _ in range(101)]
    for i in list:
        cnt[i] += 1        
    return cnt

def get_max(list):
    max = -1
    for i in list:
        if i > max:
            max = i
    return max

def get_min(list):
    min = 101
    for i in list:
        if i < min and i != 0:
            min = i
    return min

def solution(list):
    count = get_count(list)
    max = get_max(count)
    min = get_min(count)
    return max // min

In [21]:
ls1 = [1, 2, 3, 4, 44, 22, 21, 45, 75, 32, 45, 31, 1, 2, 4, 2, 3, 2, 1, 4]
solution(ls1)

4

# 다시

In [22]:
def get_cnt(list):
    cnt = [0 for _ in range(101)]
    for i in list:
        cnt[i] += 1
    return cnt

def get_max(list):
    max = 0
    for i in list:
        if i > max:
            max = i
    return max

def get_min(list):
    min = 101
    for i in list:
        if i < min and i != 0:
            min = i
    return min

def solution(list):
    cnt = get_cnt(list)
    max = get_max(cnt)
    min = get_min(cnt)
    return max // min

In [23]:
samples = [1, 2, 3, 4, 5, 1, 2, 3, 1,2, 3, 1, 1]
solution(samples)

5

# 리스트 순서 바꿔서 출력

In [24]:
def solution(list):
    start = 0
    end = len(list)-1
    
    while start < end:
        list[start], list[end] = list[end], list[start]
        start += 1
        end -= 1
    
    return list

In [25]:
samples = [1, 2, 3, 4, 5, 6]
solution(samples)

[6, 5, 4, 3, 2, 1]

# 3 6 9 박수 치기

In [37]:
def solution(number):
    
    numbers = [i for i in range(1, number+1)]
    
    for num in numbers:
        num = str(num)
        if '3' in num or '6' in num or '9' in num:
                for n in num:
                    if n == '3' or n == '6' or n == '9':
                        print('짝', end='')
                print(' ', end='')
        else:
            print(num, end=' ')

In [38]:
solution(33)

1 2 짝 4 5 짝 7 8 짝 10 11 12 짝 14 15 짝 17 18 짝 20 21 22 짝 24 25 짝 27 28 짝 짝 짝 짝 짝짝

# 토익 점수 충족하는 인원 세기

In [39]:
def solution(list):
    cnt = 0
    for score in list:
        if 650 <= score < 800:
            cnt += 1
    return cnt

In [40]:
values = [800, 700, 600, 500, 650]
solution(values)

2

# Palindrome 인지 확인하기

In [44]:
def solution(sent):
    
    prep = ''
    for i in sent:
        if i != ',' and i != '.' and i != ' ':
            prep += i
    
    start, end = 0, len(prep)-1
    while start < end:
        if prep[start] != prep[end]:
            return False
        start += 1
        end -= 1
    
    return True

In [46]:
sent1 = 'never odd or even'
sent2 = 'This is normal sentence'

print(solution(sent1))
print(solution(sent2))

True
False

다른 방법

In [55]:
def solution(sent):
    prep = ''
    for s in sent:
        if s != '.' and s != ' ':
            prep += s
    
    ls_prep = list(prep)
    forward = ''.join(ls_prep)
    ls_prep.reverse()
    backward = ''.join(ls_prep)
    
    return forward == backward

In [56]:
sent1 = 'never odd or even'
sent2 = 'This is normal sentence'

print(solution(sent1))
print(solution(sent2))

True
False

다시 다시

In [57]:
def solution(sentence):
    purified = ''
    for s in sentence:
        if s != '.' and s != ' ':
            purified += s
    
    ls_sent = list(purified)
    ls_sent.reverse()
    backward = ''.join(ls_sent)
    
    return purified == backward

In [58]:
sent1 = 'never odd or even'
sent2 = 'This is normal sentence'

print(solution(sent1))
print(solution(sent2))

True
False

# 중복문자 제거하기

In [59]:
def solution(sent):
    purified = sent[0]
    
    for i in range(1, len(sent)-1):
        if sent[i-1] != sent[i]:
            purified += sent[i]
    
    return purified

In [62]:
sent = 'MMMMMy nnnnnaaammmee isss DDDoojjjjuuunnnnnnn'
solution(sent)

'My name is Dojun'

# 평균보다 작은 숫자 세기

In [64]:
def solution(list):
    sum = 0
    for i in list:
        sum += i
    average = sum / len(list)
    
    cnt = 0
    for i in list:
        if i < average:
            cnt += 1
    print(average)
    return cnt

In [65]:
values = [10, 20, 30, 40, 20, 30, 44, 33, 12]
solution(values)

26.555555555555557

4

# a부터 b까지 숫자 더하기

In [66]:
def solution(a, b):
    list = [i for i in range(a, b+1)]
    print(list)
    total = 0
    for i in list:
        total += i
    return total

In [67]:
solution(10, 15)

[10, 11, 12, 13, 14, 15]

75

다른 방법

In [69]:
def summation(num):
    list = [i for i in range(1, num+1)]
    total = 0
    for i in list:
        total += i
    return total

def solution(a, b):
    sum_a = summation(a-1)
    sum_b = summation(b)
    if sum_a < sum_b:
        result = sum_b - sum_a
    else:
        result = sum_a - sum_b
    return result

In [70]:
solution(10, 15)

75

# 최대값과 최소값을 제외한 평균 구하기

In [1]:
def solution(list):
    min, max = 101, 0
    for i in list:
        if i < min:
            min = i
        if i > max:
            max = i
    sum = 0
    for i in list:
        if i != min and i != max:
            sum += i
    
    average = sum / (len(list)-2)
    return average

In [2]:
samples = [1, 2, 3, 4, 5]
solution(samples)

3.0

비슷하지만 다른 방법

In [7]:
def solution(list):
    min, max = 101, 0
    for i in list:
        if i < min:
            min = i
        if i > max:
            max = i
    
    sum = 0
    for i in list:
        sum += i
    
    my_sum = sum - max - min
    average = my_sum / (len(list)-2)
    
    return average

In [8]:
samples = [1, 2, 3, 4, 5]
solution(samples)

3.0

# 최대값에서 두번째 최대값 빼기

In [13]:
def get_max(list):
    max = 0
    for i in list:
        if i > max:
            max = i
    return max

def new_list(list, max):
    tmp = []
    for i in list:
        if i != max:
            tmp.append(i)
    return tmp

def solution(list):
    max = get_max(list)
    ls_new = new_list(list, max)
    sec_max = get_max(ls_new)
    result = max - sec_max
    return result

In [14]:
values = [1, 2, 3, 4, 10, 15]
solution(values)

5

# 점수 별로 인원 세기

In [15]:
def solution(list):
    cnt = [0 for _ in range(5)]
    
    for i in list:
        if i >= 85:
            cnt[0] += 1
        elif i >= 70:
            cnt[1] += 1
        elif i >= 55:
            cnt[2] += 1
        elif i >= 40:
            cnt[3] += 1
        else:
            cnt[4] += 1
    
    return cnt

In [16]:
scores = [100, 90, 80, 70, 60, 50, 40, 30]
solution(scores)

[2, 2, 1, 2, 1]

# 징검다리 점프하는 개구리

In [17]:
def solution(list):
    current = 0
    cnt = 0
    for i in list:
        if current < len(list):
            current += list[current]
            cnt += 1
    return cnt

In [19]:
stones = [1, 2, 3, 2, 5, 2]
solution(stones)

4

다시

In [20]:
def solution(list):
    current = 0
    jumps = 0
    while current < len(list):
        current += list[current]
        jumps += 1
    return jumps

In [23]:
stones = [1, 2, 3, 2, 5, 2]
solution(stones)

4

k보다 큰 값 세기

In [24]:
def solution(list, k):
    cnt = 0
    for i in list:
        if i > k:
            cnt += 1
    return cnt

In [25]:
samples = [10, 12, 14, 16, 20]
solution(samples, 15)

2

# a와 z를 맞바꾸기

In [26]:
def solution(sent):
    result = ''
    for i in sent:
        if i == 'a':
            result += 'z'
        elif i == 'z':
            result += 'a'
        else:
            result += i
    return result

In [28]:
sent = 'aebrz'
solution(sent)

'zebra'

리스트로 바꿔서 풀어보기

In [31]:
def solution(string):
    ls_str = list(string)
    
    for i in range(len(ls_str)):
        if ls_str[i] == 'a':
            ls_str[i] = 'z'
        elif ls_str[i] == 'z':
            ls_str[i] = 'a'
    
    return ''.join(ls_str)

In [32]:
sent = 'aebrz'
solution(sent)

'zebra'

# J와 k 가 들어간 이름 수 세기

In [33]:
def solution(list):
    cnt = 0
    for name in list:
        for n in name:
            if n == 'j' or n == 'k':
                cnt += 1
                break
    return cnt

In [34]:
names = ['james', 'kim john', 'dojun', 'seohyun', 'haeil', 'myeonghee']

solution(names)

3

# 거스름돈 계산하기

In [35]:
def solution(list, money):
    total = 0
    for i in list:
        total += i
    if total >  money:
        result = -1
    else:
        result = money - total
    return result

In [40]:
products = [1000, 5000, 3500]
solution(products, 10000)

500

# k번째로 작은 요소 찾기

In [42]:
def solution(list, k):
    list.sort()
    return list[k-1]

In [47]:
values = [4,2, 3, 5, 1]
solution(values, 1)

1

# 거스름돈 바꾸기

In [48]:
def solution(list, money):
    total = 0
    for i in list:
        total += i
    result = money - total
    if result < 0:
        result = -1
    return result

In [53]:
products = [1000, 3500, 5000]
solution(products, 10000)

500

# 최대값과 최소값을 뺀 총합 구하기

In [56]:
def solution(list):
    max = 0
    min = 101
    
    for i in list:
        if i > max:
            max = i
        if i < min:
            min = i
    sum = 0
    for i in list:
        sum += i
    
    return sum - max - min

In [57]:
values = [1, 2, 3, 4, 5]
solution(values)

9

# 200점 이하 인원 세기

In [58]:
def solution(list):
    cnt = 0
    for i in list:
        if i <= 200:
            cnt += 1
    return cnt

In [59]:
scores = [100, 150, 180, 200, 300, 400]
solution(scores)

4

# 세금 부과된 금액 구하기

In [60]:
def solution(price, grade):
    if grade == 'S':
        result = price * 1.05
    elif grade == 'G':
        result = price * 1.10
    elif grade == 'V':
        result = price * 1.15
    return int(result)

In [63]:
solution(10000, 'V')

11500

# 파일 업로드 성공, 실패 확인하기

In [64]:
def solution(file_info):
    success = 0
    fail = 0
    for f in file_info:
        splited = f.split(',')
        if splited[0] == 'jpeg' and int(splited[2]) < 1000:
            success += 1
        else:
            fail += 1
    return success, fail

In [66]:
infos = ['jpeg,all.jpg,500', 'mpeg,all.mp3,500']
solution(infos)

(1, 1)

# Palindrome 확인하기

In [67]:
def solution(sent):
    tmp = []
    for s in sent:
        if s != ' ' and s != '.':
            tmp.append(s)
    forward = ''.join(tmp)
    tmp.reverse()
    backward = ''.join(tmp)
    
    return forward == backward

In [68]:
sent1 = 'never odd or even.'
sent2 = 'racecar'
sent3 = 'This is not a palindrome'

print(solution(sent1))
print(solution(sent2))
print(solution(sent3))

True
True
False

# 중복 문자 제거하기

In [69]:
def solution(string):
    result = string[0]
    
    for i in range(1, len(string)):
        if string[i-1] != string[i]:
            result += string[i]
    return result

In [70]:
string = 'MMMyyyyyy nameee is Dojuuuunnnnn'

solution(string)

'My name is Dojun'

# 평균보다 작은 값 개수 세기

In [71]:
def solution(list):
    sum = 0
    for i in list:
        sum += i
    average = sum / len(list)
    
    cnt = 0
    for i in list:
        if i < average:
            cnt += 1
    
    return cnt

In [72]:
samples = [1, 2, 3, 4, 5]
solution(samples)

2