# 티셔츠 사이즈 세기

In [8]:
def solution(list):
    ls_size = [0 for _ in range(6)]
    
    for size in list:
        if size.upper() == 'XS':
            ls_size[0] += 1
        elif size.upper() == 'S':
            ls_size[1] += 1
        elif size.upper() == 'M':
            ls_size[2] += 1
        elif size.upper() == 'L':
            ls_size[3] += 1
        elif size.upper() == 'XL':
            ls_size[4] += 1
        elif size.upper() == 'XXL':
            ls_size[5] += 1
    
    return ls_size

In [10]:
sizes = ['S', 'xl', 'XXl', 'L', 'm', 'M', 'mm']

solution(sizes)

[0, 1, 2, 1, 1, 1]

In [7]:
char = 'sdfjSDFAS'

print(char.lower())
print(char.upper())
print(char)

sdfjsdfas
SDFJSDFAS
sdfjSDFAS

# 할인율 적용하기

In [16]:
def solution(price, grade):
    
    if grade.upper() == 'S':
        reduced = int(price * 0.95)
    elif grade.upper() == 'G':
        reduced = int(price * 0.90)
    elif grade.upper() == 'V':
        reduced = int(price * 0.85)
    
    return '지불하실 금액은 {}원 입니다'.format(reduced)

In [17]:
solution(10000, 'v')

'지불하실 금액은 8500원 입니다'

# 날짜 수 계산하기
- 두 날짜을 입력 받고, 각 날짜를 1월 1일부터 며칠이 차이나는 지 계산하고 이 두 값의 차로 두 날짜 사이의 간격을 계산한다

In [26]:
# 1월 1일부터 날짜 수
def func(m, d):
    months = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = 0
    
    for i in range(m-1):
        total += months[i]
    total += d-1
    
    return total

def solution(start_m, start_d, end_m, end_d):
    start = func(start_m, start_d)
    end = func(end_m, end_d)
    total = end - start
    
    return total

In [25]:
func(12, 31)

364

In [28]:
solution(1, 2, 12, 30)

362

# 가장 빈도수가 높은 숫자와 낮은 숫자는 몇 배 차이일지?
- count func
- min func
- max func

In [30]:
def count(list):
    
    cnt = [0 for _ in range(1001)]
    
    for i in list:
        cnt[i] += 1
    
    return cnt

In [33]:
ls_num = [1,4, 5, 6, 8, 6, 34, 7, 56, 23, 345, 6,41, 72, 1, 752]
print(count(ls_num))

[0, 2, 0, 0, 1, 1, 3, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [57]:
def max(list):
    max = -1
    max_idx = 0
    for idx, num in enumerate(list):
        
        if num > max:
            max = num
            max_idx = idx
            
    return max_idx, max

In [58]:
max(count(ls_num))

(6, 3)

In [61]:
def min(list):
    min = 1001
    min_idx = 0
    
    for idx, num in enumerate(list):
        
        if num < min and num != 0:
            min = num
            min_idx = idx
            
    return min_idx, min

In [62]:
min(count(ls_num))

(4, 1)

In [71]:
def solution(list):
    cnt = count(list)
    max_cnt = max(cnt)
    min_cnt = min(cnt)
    result = max_cnt[1] // min_cnt[1]
    
    return result

In [72]:
solution(ls_num)

3

# 리스트 순서 바꾸기

In [75]:
def solution(list):
    start = 0
    end = len(list)-1
    
    while start < end:
        list[start], list[end] = list[end], list[start]
        start += 1
        end -= 1
        
    return list

In [77]:
ls_sample = [1, 2, 3, 4, 5, 6, 7, 8]
solution(ls_sample)

[8, 7, 6, 5, 4, 3, 2, 1]

# 3 6 9 박수 치기

In [84]:
def solution(number):
    list = [i for i in range(1, number+1)]
    
    for num in list:
        num = str(num)
        if ('3' in num) or ('6' in num) or ('9' in num):
            for char in num:
                if char == '3' or char == '6' or char == '9':
                    print('(clap)', end='')
            print(' ', end='')
        else:
            print(num, end=' ')

In [86]:
solution(40)

1 2 (clap) 4 5 (clap) 7 8 (clap) 10 11 12 (clap) 14 15 (clap) 17 18 (clap) 20 21 22 (clap) 24 25 (clap) 27 28 (clap) (clap) (clap) (clap) (clap)(clap) (clap) (clap) (clap)(clap) (clap) (clap) (clap)(clap) 40

# a부터 b까지의 자연수 더하기

In [1]:
def func(a):
    sum = 0
    for i in range(1, a+1):
        sum += i
    return sum

def solution(a, b):
    sum_a = func(a-1)
    sum_b = func(b)
    result = sum_b - sum_a
    return result

In [16]:
import time
time_i = time.time()

print(solution(1, 100000000))
time_j = time.time()

print(time_j - time_i)

5000000050000000
5.8373565673828125

# 개구리 징검다리 건너기

In [17]:
def solution(stones):
    max = len(stones)
    current = 0
    cnt = 0
    
    while current < max:
        current += stones[current]
        cnt += 1
    
    return cnt

In [22]:
stones = [1, 3, 3, 2, 3]
solution(stones)

3

# 티셔츠 사이즈 세기

In [8]:
def solution(list):
    sizes = [0 for _ in range(6)]
    
    for i in list:
        if i.upper() == 'XS':
            sizes[0] += 1
        elif i.upper() == 'S':
            sizes[1] += 1
        elif i.upper() == 'M':
            sizes[2] += 1
        elif i.upper() == 'L':
            sizes[3] += 1
        elif i.upper() == 'XL':
            sizes[4] += 1
        elif i.upper() == 'XXL':
            sizes[5] += 1
    
    return sizes

In [9]:
orders = ['s', 'l', 'XL', 'XXL', 'M', 'm', 'm']

solution(orders)

[0, 1, 3, 1, 1, 1]

In [7]:
's'.upper()

'S'

# 할인율 적용하기

In [10]:
def solution(price, grade):
    if grade.upper() == 'S':
        payment =  price * 0.95
    elif grade.upper() == 'G':
        payment =  price * 0.90
    elif grade.upper() == 'V':
        payment =  price * 0.85
    return int(payment)

In [14]:
solution(10000, 'v')

8500

# 두 날짜 사이 일 수 계산하기

In [20]:
def from_first(m, d):
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = 0
    for i in range(m-1):
        total += days[i]
    total += d
    return total -1

In [21]:
def solution(sm, sd, em, ed):
    start = from_first(sm, sd)
    end = from_first(em, ed)
    return end - start

In [22]:
solution(1, 10, 1, 20)

10

# 최대 빈출 숫자와 최소 빈출 숫자의 배수 구하기

In [27]:
def solution(list):
    cnt = [0 for _ in range(1000+1)]
    
    for i in list:
        cnt[i] += 1
        
    min = 1001
    max = -1
    
    for i in cnt:
        if i < min and i != 0:
            min = i
        if i > max:
            max = i
        
    return max / min

In [28]:
samples = [1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 10, 10]
solution(samples)

2.5

# 리스트 순서 뒤집기

In [32]:
def solution(list):
    start, end = 0, len(list)-1
    
    while start < end:
        list[start], list[end] = list[end], list[start]
        start += 1
        end -= 1
    
    return list

In [33]:
values = [1, 2, 3, 4, 5, 6, 7, 8]

solution(values)

[8, 7, 6, 5, 4, 3, 2, 1]

# 입력한 숫자까지 369 박수 치기

In [44]:
def solution(number):
    ls_num = [i for i in range(1, number+1)]
    
    for num in ls_num:
        num = str(num)
        
        if '3' in num or '6' in num or '9' in num:
            for i in num:
                if i == '3' or i == '6' or i == '9':
                    print('짝', end='')
            print('', end=' ')
        else:
            print(num, end=' ')

In [45]:
solution(40)

1 2 짝 4 5 짝 7 8 짝 10 11 12 짝 14 15 짝 17 18 짝 20 21 22 짝 24 25 짝 27 28 짝 짝 짝 짝 짝짝 짝 짝 짝짝 짝 짝 짝짝 40

# 토익 기초반 학생 수 세기

In [46]:
def solution(list):
    total = 0
    for i in list:
        if 650 <= i < 800:
            total += 1
    return total

In [49]:
scores = [800, 750, 700, 650, 600, 500]
solution(scores)

3

# 펠린드롬인지 구분하는 함수

In [52]:
def solution(sent):
    spells = ''
    
    for i in sent:
        if i != ' ' and i != ',' and i != '.':
            spells += i
    
    start, end = 0, len(spells)-1
    while start < end:
        if spells[start] != spells[end]:
            return False
        start += 1
        end -= 1
    
    return True

In [59]:
string1 = 'never odd or eve.,,n.'
solution(string1)

True

# 중복 문자 제거하기

In [62]:
def solution(string):
    result = string[0]
    
    for i in range(1, len(string)):
        if string[i-1] != string[i]:
            result += string[i]
    
    return result

In [63]:
string1 = 'myyyyy naaaaame iiiis Dooooojuuun'
solution(string1)

'my name is Dojun'

# 평균보다 작은 값 개수 구하기

In [64]:
def solution(list):
    sum = 0
    for i in list:
        sum += i
    average = sum / len(list)
    
    cnt = 0
    for i in list:
        if i < average:
            cnt += 1
    
    return cnt

In [67]:
ls_sample = [10, 20, 30, 40, 50, 60]

print(sum(ls_sample)/len(ls_sample))
solution(ls_sample)

35.0

3

# a부터 b 사이의 모든 자연수 더하기

In [71]:
def solution(a, b):
    ls_num = [i for i in range(a, b+1)]
    
    total = 0
    for i in ls_num:
        total += i
        
    return total

In [72]:
solution(3, 5)

12

# 최대값, 최소값을 제외한 평균 구하기

In [81]:
def solution(list):
    max = 0
    min = 101
    
    for i in list:
        if i > max:
            max = i
        if i < min and i != 0:
            min = i
#     print(max, min)
    
    sum = 0
    for i in list:
        if i != min and i != max:
            sum += i
#     print(sum)
    
    average = sum / (len(list)-2)
    return average

In [82]:
ls_sample = [1, 2, 3, 4, 5]
solution(ls_sample)

3.0

# 첫번째 최대값과 두번째 최대값의 차

In [83]:
def get_max(list):
    max = -1
    for i in list:
        if i > max:
            max = i
    return max

def except_max(list, max):
    ls_tmp = []
    for i in list:
        if i != max:
            ls_tmp.append(i)
    return ls_tmp

def subtract(a, b):
    if a > b:
        return a - b
    else:
        return b - a

In [85]:
ls_sample = [1, 2, 3, 4, 10, 15]

first_max = get_max(ls_sample)
ls_new = except_max(ls_sample, first_max)
second_max = get_max(ls_new)
result = subtract(first_max, second_max)

print(result)

5

# 등급 별 사람 인원 수 세기

In [86]:
def solution(list):
    grades = [0 for _ in range(5)]
    
    for i in list:
        if 85 <= i:
            grades[0] += 1
        elif 70 <= i:
            grades[1] += 1
        elif 55 <= i:
            grades[2] += 1
        elif 40 <= i:
            grades[3] += 1
        elif 0 <= i:
            grades[4] += 1
            
    return grades

In [87]:
scores = [100, 90, 80, 70, 60, 50, 40, 30]

solution(scores)

[2, 2, 1, 2, 1]

# 돌다리를 건너는 개구리

In [88]:
def solution(list):
    current = 0
    step = 0
    over = len(list)
    
    while current < over:
        current += list[current]
        step += 1
    
    return step

In [89]:
stones = [1, 2, 1, 2, 1, 2, 1]
solution(stones)

4

# a를 z로 바꾸는 함수

In [90]:
def solution(string):
    ls_string = list(string)
    n = len(string)
    
    for i in range(n):
        if ls_string[i] == 'a':
            ls_string[i] = 'z'
        elif ls_string[i] == 'z':
            ls_string[i] = 'a'
    
    return ''.join(ls_string)

In [91]:
sent = 'zaure is z web clouding service aaa'
solution(sent)

'azure is a web clouding service zzz'

# k번째 최소값 찾기

In [92]:
def solution(list, k):
    tmp = []
    for i in list:
        for j in i:
            tmp.append(j)
    
    tmp.sort()
    result = tmp[k-1]
    return result

In [93]:
ls_samples = [[1, 2, 3, 4, 5], [10, 11, 12, 13, 14, 15], [31, 32, 33, 34, 35]]
solution(ls_samples, 2)

2