 # 티셔츠 갯수 세기

In [1]:
def solution(list):
    count = [0 for _ in range(5)]
    
    for i in list:
        
        if i == 'XS':
            count[0] += 1
        elif i == 'S':
            count[1] += 1
        elif i == 'M':
            count[2] += 1
        elif i == 'L':
            count[3] += 1
        elif i == 'XL':
            count[4] += 1
    
    return count

In [2]:
samples = ['XL', 'L', 'M', 'M', 'M']
solution(samples)

[0, 0, 3, 1, 1]

# 할인율 적용하기

In [5]:
def solution(price, grade):
    if grade == 'S':
        value = price * 0.95
    elif grade == 'G':
        value = price * 0.90
    elif grade == 'V':
        value = price * 0.85
    
    return int(value)

In [8]:
solution(10000, 'V')

8500

# 두 날짜 사이의 일 수 계산하기

In [11]:
# 1월 1일부터 계산
def function(m, d):
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    
    total = 0
    for i in range(m-1):
        total += days[i]
    total += d-1
    
    return total

def solution(m1, d1, m2, d2):
    start = function(m1, d1)
    end = function(m2, d2)
    total = end - start
    
    return total

In [14]:
solution(2, 1, 3, 5)

32

# 최대 빈출 숫자는 최소 빈출 숫자의 몇 배?

In [18]:
def solution(list):
    # 카운트 리스트 만들기
    count = [0 for _ in range(101)]
    
    # 카운트 세기
    for i in list:
        count[i] += 1
    
    # 최대값 최소값 구하기
    min = 101
    max = 0
    for i in count:
        if i < min and i != 0:
            min = i
        if i > max:
            max = i

    # 배수 구하기
    value = max // min
    
    return value

In [20]:
samples = [1, 1, 1, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
solution(samples)

2

# 순서 바꿔서 출력하기

In [25]:
def solution(string):
    ls_string = list(string)
    
    start = 0
    end = len(string)-1
    
    while start < end:
        ls_string[start], ls_string[end] = ls_string[end], ls_string[start]
        start += 1
        end -= 1
    return ''.join(ls_string)

In [26]:
text = '요세하녕안'
solution(text)

'안녕하세요'

# 다시

In [27]:
def solution(string):
    ls_string = list(string)

    start = 0
    end = len(string)-1
    while start < end:
        ls_string[start], ls_string[end] = ls_string[end], ls_string[start]
        start += 1
        end -= 1
    
    value = ''.join(ls_string)
    return value

In [28]:
sample = '123456'
solution(sample)

'654321'

# 3,6,9 박수

In [33]:
def solution(number):
    numbers = [i for i in range(1, number+1)]
    
    for num in numbers:
        num = str(num)
        if '3' in num or '6' in num or '9' in num:
            for n in num:
                if n == '3' or n == '6' or n == '9':
                    print('짝', end='')
            print(' ', end='')
        else:
            print(num, end=' ')

In [34]:
solution(10)

1 2 짝 4 5 짝 7 8 짝 10

# 다시

In [44]:
def solution(number):
    numbers = [n for n in range(1, number+1)]
    
    for n in numbers:
        n = str(n)
        if '3' in n or '6' in n or '9' in n:
            for i in n:
                if i == '3' or i == '6' or i == '9':
                    print('짝', end='')
            print('', end=' ')
        else:
            print(n, end=' ')

In [45]:
solution(20)

1 2 짝 4 5 짝 7 8 짝 10 11 12 짝 14 15 짝 17 18 짝 20

# 3, 6, 9 세기

In [46]:
def solution(number):
    numbers = [i for i in range(1, number+1)]
    
    count = 0
    for num in numbers:
        current = num
        while current != 0:
            unit = current % 10
            if unit == 3 or unit == 6 or unit == 9:
                count += 1
            current //= 10
    
    return count

In [48]:
solution(20)

6

# 3 6 9
- 문자열로 바꾸어서 하나씩 확인
- 10으로 나눈 나머지가 3, 6, 9 인지 확인하고 10으로 나눈 몫으로 갱신
- 1부터 입력 숫자까지의 정수 리스트를 만들어서 반복할 수 있고, 반복문에서 만들어서 바로 실행할 수도 있음

In [59]:
def solution(number):
    numbers = [n for n in range(1, number+1)]
    
    for n in numbers:
        n = str(n)
        if '3' in n or '6' in n or '9' in n:
            for i in n:
                if i == '3' or i == '6' or i == '9':
                    print('짝', end='')
            print('', end=' ')
        else:
            print(n, end=' ')

In [60]:
solution(33)

1 2 짝 4 5 짝 7 8 짝 10 11 12 짝 14 15 짝 17 18 짝 20 21 22 짝 24 25 짝 27 28 짝 짝 짝 짝 짝짝

In [61]:
def solution(number):
    count = 0
    for num in range(1, number+1):
        current = num
        while current != 0:
            unit = current % 10
            if unit == 3 or unit == 6 or unit == 9:
                count += 1
            current //= 10
    return count

In [66]:
solution(13)

4

# 토익 초급반 인원 수 세기
- 650 이상 800 미만

In [67]:
def solution(list):
    count = 0
    for i in list:
        if 650 <= i < 800:
            count += 1
    return count

In [68]:
samples = [600, 650, 700, 750, 800, 900]
solution(samples)

3

# Palindrome인지 확인하기

In [69]:
def solution(string):
    value = ''
    for s in string:
        if s != ' ' and s != '.':
            value += s
    
    start, end = 0, len(value)-1
    while start < end:
        if value[start] != value[end]:
            return False
        start += 1
        end -= 1
    return True

In [70]:
sample1 = 'never odd or even'
sample2 = 'this is false'

print(solution(sample1))
print(solution(sample2))

True
False

# 중복문자 제거하기

In [74]:
def solution(string):
    value = string[0]
    
    for i in range(1, len(string)):
        if string[i-1] != string[i]:
            value += string[i]
    
    return value

In [75]:
solution('myyyy nameee is Dojun')

'my name is Dojun'

# 평균보다 작은 숫자 세기

In [76]:
def solution(list):
    count = 0
    sum = 0
    for i in list:
        sum += i
    average = sum / len(list)
    
    for i in list:
        if i < average:
            count += 1
    
    return count

In [77]:
samples = [1, 2, 3, 4, 5]
solution(samples)

2

# a부터 b까지의 숫자 모두 더하기
- 1부터 a-1까지 숫자를 구한다
- 1부터 b까지의 숫자를 구한다
- 두 값을 뺀다

In [78]:
def function(number):
    numbers = [n for n in range(1, number+1)]

    total = 0
    for n in numbers:
        total += n
        
    return total

def solution(a, b):
    start = function(a-1)
    end = function(b)
    return end - start

In [79]:
solution(5, 10)

45

In [80]:
5+6+7+8+9+10

45

# 최대값과 최소값을 제외한 합계 구하기

In [82]:
def solution(list):
    min = 101
    max = 0
    
    for i in list:
        if i < min and i != 0:
            min = i
        if i > max:
            max = i
    
    sum = 0
    for i in list:
        sum += i
    
    return sum - min - max

In [83]:
samples = [1, 2, 3, 4, 5]
solution(samples)

9

# 첫번째 최대값에서 두번째 최소값을 빼기

In [84]:
def function(list):
    max = -1
    for i in list:
        if i > max:
            max = i
    return max

def make_list(list, max):
    values = []
    for i in list:
        if i != max:
            values.append(i)
    return values

def solution(list):
    max1 = function(list)
    newlist = make_list(list, max1)
    max2 = function(newlist)
    return max1 - max2

In [85]:
samples = [1, 2, 3, 4, 5, 10]
solution(samples)

5

# 등급별 인원 수 세기

In [88]:
def solution(list):
    grades = [0 for _ in range(5)]
    
    for i in list:
        if 85 <= i:
            grades[0] += 1
        elif 70 <= i:
            grades[1] += 1
        elif 55 <= i:
            grades[2] += 1
        elif 40 <= i:
            grades[3] += 1
        elif i < 40:
            grades[4] += 1
    
    return grades

In [89]:
samples = [100, 90, 80, 70, 60, 50, 40, 30]
solution(samples)

[2, 2, 1, 2, 1]

In [ ]:
2, 2, 1, 2, 1

# 점프하는 개구리

In [90]:
def solution(list):
    current = 0
    jumps = 0
    while current < len(list):
        current += list[current]
        jumps += 1
    return jumps

In [92]:
samples = [1, 2, 1, 2, 1, 2]
samples2 = [3, 4, 3, 4, 3, 4, 3, 4]
solution(samples2)

3

# k보다 큰 값 갯수 구하기

In [93]:
def solution(list, k):
    count = 0
    for i in list:
        if i > k:
            count += 1
    return count

In [94]:
sample = [1, 2, 3, 4, 5, 6, 7]
solution(sample, 5)

2

# a를 z로 바꾸는 함수

In [97]:
def solution(string):
    ls_string = list(string)
    for i in range(len(ls_string)):
        if ls_string[i] == 'a':
            ls_string[i] = 'z'
        elif ls_string[i] == 'z':
            ls_string[i] = 'a'
    return ''.join(ls_string)

In [99]:
sample = 'ahello my nzme is Dojun aaaaa'
solution(sample)

'zhello my name is Dojun zzzzz'

# j와 k를 포함하는 문자 세기

In [100]:
def solution(list):
    count = 0
    for name in list:
        for n in name:
            if n == 'j' or n == 'k':
                count += 1
                break
    return count

In [101]:
names = ['james', 'john', 'luke', 'via', 'michael']
solution(names)

3

# 거스름돈 계산하기

In [102]:
def solution(prices, money):
    total = 0
    for price in prices:
        total += price
    
    final = money - total
    if final < 0:
        final = -1
    return final

In [106]:
solution([4000, 5000, 500], 10000)

500

# k번째 작은 값 구하기

In [107]:
def solution(list, k):
    list.sort()
    return list[k-1]

In [109]:
sample = [10, 5, 20, 3, 15, 8]
solution(sample, 3)

8

# 거스름돈 계산하기

In [110]:
def solution(prices, money):
    total = 0
    for price in prices:
        total += price
    value = money - total
    if value < 0:
        value = -1
    return value

In [114]:
prices = [3000, 2000, 4000]
solution(prices, 10000)

1000

# 최대값과 최소값을 제외한 합계 구하기

In [115]:
def solution(list):
    min = 101
    max = -1
    for i in list:
        if i < min and i != 0:
            min = i
        if i > max:
            max = i
    
    sum = 0
    for i in list:
        sum += i
    
    return sum - min - max

In [116]:
samples = [1, 2, 3, 4, 5]
solution(samples)

9

# 조건을 충족하는 인원 수 세기

In [117]:
def solution(list):
    count = 0
    for i in list:
        if i <= 200:
            count += 1
    return count

In [118]:
samples = [100, 200, 300, 400]
solution(samples)

2

# 세금을 계산 한 지불 금액 구하기

In [123]:
def solution(money, grade):
    if grade == 'S':
        payment = money * 1.05
    elif grade == 'G':
        payment = money * 1.10
    elif grade == 'V':
        payment = money * 1.15
    
    return int(payment)

In [126]:
solution(10000, 'V')

11500

# 3 6 9가 몇 번 들어있는지 확인하기

1.

In [1]:
def solution(number):
    count = 0
    for num in range(1, number+1):
        num = str(num)
        if '3' in num or '6' in num or '9' in num:
            for n in num:
                if n == '3' or n == '6' or n == '9':
                    count += 1
    return count

In [2]:
solution(10)

3

2.

In [3]:
def solution(number):
    count = 0
    for num in range(1, number+1):
        current = num
        while current != 0:
            unit = current % 10
            if unit == 3 or unit == 6 or unit == 9:
                count += 1
            current //= 10
    return count

In [7]:
solution(13)

4

# 파일 업로드 체크하는 함수 만들기

In [8]:
def solution(file_info):
    success, fail = 0, 0
    for file in file_info:
        splited = file.split(',')
        if splited[0] == 'jpg' and int(splited[2]) < 1000:
            success += 1
        else:
            fail += 1
    return success, fail

In [9]:
file_infos = ['jpg,file1.jpg,500', 'jpeg,file2.jpeg,700', 'jpg,file3.jpg,200']
solution(file_infos)

(2, 1)

# Palindrome인지 확인하기

1.

In [12]:
def solution(sent):
    my_sent = ''
    for s in sent:
        if s != '.' and s != ' ':
            my_sent += s
    
    start, end = 0, len(my_sent)-1
    while start < end:
        if my_sent[start] != my_sent[end]:
            return False
        start += 1
        end -= 1
    return True

In [14]:
sent1 = 'never odd or even'
sent2 = "this isn't a palindrome"

print(solution(sent1))
print(solution(sent2))

True
False

2.

In [21]:
def solution(sent):
    my_sent = ''
    for s in sent:
        if s != ',' and s != ' ':
            my_sent += s
    
    ls_sent = list(my_sent)
    origin = my_sent
    
    ls_sent.reverse()
    reverted = ''.join(ls_sent)
    
    return origin == reverted

In [23]:
sent1 = 'never odd or even'
sent2 = "this isn't a palindrome"

print(solution(sent1))
print(solution(sent2))

True
False

In [17]:
[1,2,3].reverse()

palindrome인지 확인하는 방법엔 두 가지가 있음
- 전처리 후, 순차적으로 앞의 글자와 뒤의 글자가 같은 지 확인
- 전처리 후, 원래 순서의 문장과 순서를 바꾼 문장이 같은 지 확인

# 중복되는 문자 지우기

In [24]:
def solution(sent):
    value = sent[0]
    
    for i in range(1, len(sent)):
        if sent[i-1] != sent[i]:
            value += sent[i]
    
    return value

In [25]:
sample = 'myyyyy name isssssss Dojuuuuun'
solution(sample)

'my name is Dojun'

# 평균보다 작은 수 갯수 구하기

In [26]:
def solution(list):
    sum = 0
    for i in list:
        sum += i
    average = sum / len(list)
    
    cnt = 0
    for i in list:
        if i < average:
            cnt += 1
    
    return cnt

In [27]:
samples = [1, 2, 3, 4, 5]
solution(samples)

2